Cargas.Data/bin/
Cargas.Data/obj/
SrvAppCargaGoogleSheet/obj/
SrvAppCargaGoogleSheet/bin/
SrvAppCargaGoogleSheet/.vs/
SrvAppCargaGoogleSheet/Properties/PublishProfiles/FolderProfile.pubxml.user
SrvAppCargaGoogleSheet/Properties/PublishProfiles/FolderProfile.pubxml
SrvAppCargaGoogleSheet/Erro/
